# Byte-compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.venv/
.pyenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.coveragerc

# Environment variables and secrets
*.env
.env.*
*.secret
*.key

# IDEs and editors
.vscode/
.idea/
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# ignore data files
data/